@mixin logo($logo-color: $accent-color) {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    color: $logo-color;
}

@mixin button($align: center, $padding: 10px 24px) {
    color: $second-accent-color;
    text-align: $align;
    padding: $padding;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

@mixin flexbox($justify: center, $align: center, $wrap: wrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
}