    $title-color: #212121;
    $text-color: #757575;
    $accent-color: #2196f3;
    $background-accent-color: #2f303a;
    $background-color: #fff;
    $background-team-color: #f5f4fa;
    $second-accent-color: #fff;
    $frame-color: #eee;
    $logo-accent-color: #000;
    $background-button-color: #f5f4fa;
    $address-color: rgba(255, 255, 255, 0.6);
    $header-frame-color: #ececec;
    $icon-fill: #afb1b8;
    $footer-icons-bg: rgba(255, 255, 255, 0.1);
    $input-border-color: rgba(33, 33, 33, 0.2);
    $hover: #1b73c3;
    $portfolio-cards-bg: rgba(33, 150, 243, 0.9);